*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.first{
  height: 100vh;
  width: 100%;
}

.heading-text{
  margin-bottom: 120px;
}

.container{
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.search-form{
  /* background-color: red; */
  margin-top: 100px;
  padding: 10px 10px;
}

.search-form input{
  font-size: 20px;
  padding: 10px 50px;
  margin: 0px 8px; 
  border: 1px solid black;
}

.search-form button{
  /* background-color: green; */
  padding: 8px 30px;
}

body {
	font-family: 'Varela Round', sans-serif;
}

.modal-login {		
	color: #636363;
	width: 350px;
}
.modal-login .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
}
.modal-login .modal-header {
	border-bottom: none;   
	position: relative;
	justify-content: center;
}
.modal-login h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -15px;
}
.modal-login .form-control:focus {
	border-color: #70c5c0;
}
.modal-login .form-control, .modal-login .btn {
	min-height: 40px;
	border-radius: 3px; 
}
.modal-login .close {
	position: absolute;
	top: -5px;
	right: -5px;
}	
.modal-login .modal-footer {
	background: #ecf0f1;
	border-color: #dee4e7;
	text-align: center;
	justify-content: center;
	margin: 0 -20px -20px;
	border-radius: 5px;
	font-size: 13px;
}
.modal-login .modal-footer a {
	color: #999;
}		
.modal-login .avatar {
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top: -70px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	z-index: 9;
	background: #60c7c1;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.modal-login .avatar img {
	width: 100%;
}
.modal-login.modal-dialog {
	margin-top: 80px;
}
.modal-login .btn, .modal-login .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1 !important;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	border: none;
}
.modal-login .btn:hover, .modal-login .btn:focus {
	background: #45aba6 !important;
	outline: none;
}
.trigger-btn {
	display: inline-block;
  margin: 2px 20px;
  color: white;
  padding: 10px 20px;
  /* background-color: gray; */
  text-decoration: none;
  border-radius: 10px;
}

.trigger-btn{
  text-decoration: none;
}

.trigger-btn:hover{
  text-decoration: none;
}


@media only screen and (max-width:580px){
  .modal-login {		
    color: #636363;
    width: 300px;
    margin: auto;
    /* margin-left: 100px; */
  }
}

@media only screen and (max-width:520px){
  .search-form{
    display: flex;
    flex-direction: column;
    padding: 10px 10px;
    margin: 10px 20px;
    /* background-color: red; */
  }
  .search-form input{
    padding: 6px 20px;
    margin: 12px 0px;
    font-size: 18px;
  }

  .search-form button{
    padding: 8px 20px;
  }
}

@media only screen and (max-width:360px){
  .trigger-btn{
    padding: 10px 20px;
    margin: 0px 4px;
  }
  .modal-login {		
    color: #636363;
    width: 250px;
    margin: auto;
  }
  h1{
    font-size: 26px;
  }
}