*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile{
    height: 100vh;
    width: 100%;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container form{
    width: 80%;
    padding: 50px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.container form input{
    margin-bottom: 210px;    
}

.profile-btn{
    margin:auto;
    display: flex;
    justify-content: space-between;
}

.profile-btn button{
    padding: 8px 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.profile-btn a{
    color: white;
    text-decoration: none;
}


@media only screen and (max-width:450px){
    .container form{
        width: 100%;
        padding: 10px;
    }
    .profile-btn button{
        padding: 6px 8px;
        font-size: 12px;
    }
    .container form input{
        font-size: 12px;
    }
}

@media only screen and (max-width:300px){
    .profile-btn button{
        padding: 6px 8px;
        font-size: 12px;
    }
    .container form{
        padding: 10px;
    }
}

